<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/aic/dsl/AiC_DSL"
			class = "org.xtext.aic.dsl.aiC_DSL.AiC_DSLPackage"
			genModel = "model/generated/AiC_DSL.genmodel" />
	</extension>
</plugin>
